#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-popup .mapboxgl-popup-content{
    background: #909191;
}

.mapboxgl-popup-content > .popup-title{
    font-family: 'Quicksand', sans-serif;
}